@import 'bootstrap.min.css';
body {
  background: #cdd422;
  color: #431c5d;
}

.header-bg {
  background: #cdd422;
}

.left-side {
  background: #cdd422;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background: #e05915;
  color: #431c5d;
  outline: none;
}

.select {
  width: 170px;
  height: 30px;
}