@import 'bootstrap.min.css';
body {
    background: #000000;
    color: #FFf000;
}

.header-bg {
    background: #000000;
}

.left-side {
    background: #000000;
}

.btn-custom {
    background: #FFf000;
    color: #000000;
}