@import 'bootstrap.min.css';
body {
  background: lightyellow;
  color: yellow
}

.header-bg {
  background: lightyellow;
}

.left-side {
  background: lightgoldenrodyellow;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background: greenyellow;
  color: white;
  outline: none;
}

.select {
  width: 170px;
  height: 30px;
}