@import 'bootstrap.min.css';
@import "compass/css3";
body {
  background: #dddfd4;
  color: #000000;
}

.header-bg {
  background: #dddfd4;
}

.left-side {
  background: #dddfd4;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background: #173e43;
  color: #000000;
  outline: none;
}

.select {
  width: 170px;
  height: 30px;
}